image: alpine:3.23

cache:
  paths:
    - vendor

before_script:
  - apk add --no-cache --no-progress php83-phar php83-iconv php83-openssl php83-curl php83-ctype php83-mbstring php83-dom php83-tokenizer php83-xml php83-xmlwriter
  - wget -q -O composer.phar https://getcomposer.org/composer-2.phar
  - php83 composer.phar install --no-interaction --no-progress

php_cs_fixer:
  stage: test
  allow_failure:
    exit_codes: 8
  script: php83 vendor/bin/php-cs-fixer fix --dry-run --show-progress=none --format=gitlab > php-cs-fixer-report.json
  artifacts:
    reports:
      codequality: php-cs-fixer-report.json

phpunit:
  stage: test
  variables:
    XDEBUG_MODE: coverage
  script:
    - apk add --no-cache --no-progress php83-pecl-xdebug
    - php83 -d zend_extension=xdebug vendor/bin/phpunit --coverage-text --coverage-filter=src --log-junit=phpunit-report.xml tests
  coverage: '/^\s*Lines:\s*\d+\.\d+%/'
  artifacts:
    reports:
      junit: phpunit-report.xml

pages:
  variables:
    CI_PAGES_URL: https://eternium-pulse.github.io
  stage: deploy
  script:
    - php83 bin/lb.php fetch --no-progress
    - php83 bin/lb.php generate --base-url=$CI_PAGES_URL --page-limit=10 --no-progress
    - find public -type f -regex '.*\.\(html\|xml\|rss\|js\|json\|webmanifest\|css\|txt\)$' -exec gzip -f -k {} \;
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_SHORT_SHA"
    expire_in: 1 day
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "schedule"'
