{% extends "layout.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/season">{{ strings.season }}s</a></li>
        <li class="breadcrumb-item active">#{{ event.id }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<h1>{{ strings.season }} #{{ event.id }}</h1>
<div class="row">
    <div class="col-md">
        <ul>
            {% for class in season[event.id]|keys %}
            <li><a href="/season/{{ event.id }}/{{ class }}">{{ strings[class] }}s</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
