<div class="col">
  <div class="card bg-dark bg-gradient text-center">
    <div class="card-body text-light">
      <h5 class="card-title mb-0">ANB #{{ event.index }}</h5>
    </div>
    <div class="list-group list-group-flush">
      {%~ for e in event %}
      <a class="list-group-item list-group-item-action" href="{{ abs_url(event_path(e))|e }}">
        {{- e.getName()|e -}}
      </a>
      {%~ endfor %}
    </div>
  </div>
</div>