{% extends "layout.html" %}

{% block content %}
<h1>{{ event|title }}</h1>
<div class="row cols-3 g-4">
    {% for league in event %}
    <div class="col">
        <div class="card">
            <div class="card-header">League</div>
            <div class="card-body">
                <h5 class="card-title">{{ league|title }}</h5>
                <a class="btn btn-primary" href="{{ base_url }}{{ event }}/{{ league }}">More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
