{% extends 'layout.twig' %}

{% block title -%}
Error {{ code }} - {{ parent() }}
{%- endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <h1 class="display-1">{{ code }}</h1>
  <p class="lead">{{ message|e }}</p>
</div>
{% endblock %}