{% extends 'layout.twig' %}

{% block title -%}
Error {{ code|e }} - {{ parent() }}
{%- endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center h-100 pt-1 pb-5">
  <h1 class="display-1">{{ code|e }}</h1>
  <p class="lead">{{ message|e }}</p>
</div>
{% endblock %}