<div class="col">
  <div class="card">
    <div class="card-header">{{ event.type|e }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ event.getName(true) }} <span class="badge bg-secondary">
        {{- event.stats.length|e -}}
      </span></h5>
      <a class="btn btn-primary stretched-link" href="{{ abs_path(event_path(event))|e }}">{{ {
        'Season': 'Leaderboards',
        'ANB': 'Leagues',
        'League': 'Leaderboards',
        'Leaderboard': 'Rankings',
      }[event.type] }}</a>
    </div>
  </div>
</div>