{% extends 'layout.twig' %}

{% block title -%}
Leaderboards - {{ parent() }}
{%- endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ site_name|e('html_attr') }}" />
<meta property="og:url" content="{{ base_url }}/" />
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Hi, Adventurer!</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
  {%~ for event in events %}
  {%~ include "event_card.twig" with {'event': event} %}
  {%~ endfor %}
</div>
{% endblock %}