{% macro icon(brand, class = []) -%}
{% if not class is iterable %}
{% set class = [class] %}
{% endif %}
{% set class = ['fa-brands', 'fa-' ~ brand|replace({'epic': 'steam', 'ios': 'apple', '_simulator': ''})]|merge(class) %}
<span class="{{ class|join(' ')|e }}" role="img" aria-label="{{ brand|replace({'_' : ' '})|e }}"></span>
{%- endmacro icon %}

{% macro stylesheet() %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css" integrity="sha512-8RxmFOVaKQe/xtg6lbscU9DU0IRhURWEuiI0tXevv+lXbAHfkpamD4VKFQRto9WgfOJDwOZ74c/s9Yesv3VvIQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endmacro %}