{% macro icon(brand, class = []) %}
{% if not class is iterable %}
{% set class = [class] %}
{% endif %}
{% set class = ['fa-brands', 'fa-' ~ brand|replace({'ios': 'apple'})]|merge(class) %}
<span class="{{ class|join(' ')|e }}" role="img" aria-label="{{ brand|e }}"></span>
{% endmacro icon %}

{% macro stylesheet() %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css" integrity="sha512-nS1/hdh2b0U8SeA8tlo7QblY6rY6C+MgkZIeRzJQQvMsFfMQFUKp+cgMN2Uuy+OtbQ4RoLMIlO2iF7bIEY3Oyg==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endmacro %}